// background colors
$dark-theme-bg-color-1: #0d1118;
$dark-theme-bg-color-light-blue-to-light-purple: #6f5adc;
$dark-theme-bg-color-yellow-blue-1: #6f5adc;
$dark-theme-bg-color-blue-1: #6f5adc;
$dark-theme-bg-color-dropdown: #0d1119;
$dark-theme-bg-color-dropdown-option-hover: rgba(255, 255, 255, 0.25);
$dark-theme-bg-color-2: rgba(255, 255, 255, 0.13);
$dark-theme-bg-color-3: rgba(255, 255, 255, 0.03);
$dark-theme-bg-color-4: rgba(255, 255, 255, 0.05);
$dark-theme-bg-color-5: rgba(255, 255, 255, 0.04);
$dark-theme-bg-color-modal: #1e2428;
$dark-theme-bg-color-5: #161b25;
// colors
$dark-theme-color-white: #ffffff;
$dark-theme-color-white-05: rgba(255, 255, 255, 0.05);
$dark-theme-color-white-54: rgba(255, 255, 255, 0.54);
$dark-theme-color-white-17: rgba(255, 255, 255, 0.17);
$dark-theme-color-white-29: rgba(255, 255, 255, 0.29);
$dark-theme-color-white-42: rgba(255, 255, 255, 0.42);
$dark-theme-color-white-79: rgba(255, 255, 255, 0.79);
$dark-theme-color-blue-to-white-1: #ffffff;
$dark-theme-color-purple-to-white-1: #ffffff;
$dark-theme-color-blue-title-to-white-1: #ffffff;
$dark-theme-color-yellow-to-white-24: rgba(151, 34, 34, 0.24);
$dark-theme-color-yellow-to-white-24-2: rgba(255, 255, 255, 0.24);
$dark-theme-color-purple-to-gray-1: #e7e7e7;
$dark-theme-color-gray-1: #e7e7e7;
$dark-theme-color-purple-to-gray-2: #fefeff;
$dark-theme-color-gray-2: #fefeff;
$dark-theme-color-yellow-to-blue-1: #6f5adc;
$dark-theme-color-light-blue-to-purple-1: #6f5adc;
$dark-theme-color-dark-blue-to-white-1: #ffffff;
$dark-theme-color-dark-blue-2-to-white-1: #ffffff;
$dark-theme-color-gray-to-white-6: rgba(255, 255, 255, 0.6);
$dark-theme-color-gray-to-white-93: rgba(255, 255, 255, 0.93);
$dark-theme-color-dark-blue-to-white-6: rgba(255, 255, 255, 0.6);
$dark-theme-color-dark-blue-to-white-65: rgba(255, 255, 255, 0.65);
$dark-theme-color-purple-to-white-6: rgba(255, 255, 255, 0.6);
$dark-theme-color-dark-blue-2-to-white-2: #ffffff;
$dark-theme-color-dark-blue-3-to-white-2: #ffffff;
// $dark-theme-color-white: #ffffff;
$dark-theme-color-purple-to-gray-3: #aea8a8;
$dark-theme-color-gray-5: #aea8a8;
$dark-theme-color-light-blue-to-white-42: rgba(255, 255, 255, 0.42);
$dark-theme-color-purple-to-white-42: rgba(255, 255, 255, 0.42);
$dark-theme-color-dark-blue-to-white-79: rgba(255, 255, 255, 0.79);
$dark-theme-color-purple-to-white-80: rgba(255, 255, 255, 0.8);
$dark-theme-color-purple-to-white: rgba(255, 255, 255, 1);
$dark-theme-color-dark-blue-to-blue: rgba(161, 142, 255, 1);
$dark-theme-color-white-47: rgba(255, 255, 255, 0.47);
$dark-theme-color-white-19: rgba(255, 255, 255, 0.19);
$dark-theme-color-white-to-gray: #e6e6e6;
$dark-theme-color-white-1: #fbfbfb;
$dark-theme-color-purple-to-gray-4: rgba(174, 168, 168, 1);
$dark-theme-color-blue-1: #937eff;
$dark-theme-color-gray-6: #f2f2f2;
$dark-theme-color-gray-7: #c4c4c4;

// border color
$dark-theme-border-color-1: rgba(229, 229, 229, 0.19);
$dark-theme-border-color-3: rgba(229, 229, 229, 0.11);
$dark-theme-border-color-2: rgba(255, 255, 255, 0.26);
$dark-theme-border-color-4: rgba(255, 255, 255, 0.04);
$dark-theme-border-color-5: rgba(255, 255, 255, 0.52);
$dark-theme-border-gradient-1: linear-gradient(90deg, #3c3571 0%, #272547 100%);
$dark-theme-border-color-6: rgba(255, 255, 255, 0.13);

//scroll
$dark-theme-scroll-text-color-white: rgba(255, 255, 255, 1);
$dark-theme-scroll-border-color-white: rgba(255, 255, 255, 1);
$dark-theme-scroll-bg-color-white: rgba(255, 255, 255, 1);
$dark-theme-scroll-outline-color-white: rgba(255, 255, 255, 1);

//dropdown
$dark-theme-dropdown-bg-color: #1e2428;
$dark-theme-dropdown-hover-bg: rgba(255, 255, 255, 0.09);
$dark-theme-bg-color-dropdown-options-list: #2c3137;
$dark-theme-text-color-on-dropdown-hover: #6f5adc;
$dark-theme-dropdown-arrow-color: rgba(255, 255, 255, 0.79);
